//Imports Fonts
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&family=Fraunces:ital,wght@0,700;0,900;1,700;1,900&display=swap");

// imports lib
@import "./lib/variables";

//layouts
@import "./layout/header";
@import "./layout/description";
@import "./layout/testimonials";
@import "./layout/footer";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow", "Fraunces", sans-serif;
  font-size: 18px;
}
